.container_about {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.content {
    width: 90%;
    border-radius: 5px;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, .5);
    background: #fff;
    overflow-y: auto;
}

.my_information {
    width: 100%;
    height: 325px;
    display: flex;
    justify-content: space-evenly;
    background: #707070;
    padding: 10px 0;
}

.my_information div .my_img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.my_information div .information {
    width: 100%;
    margin-bottom: 20px;
}

.my_information div .information h2 {
    margin-bottom: 10px;
    font-weight: 400;
    color: #f2f2f2;
}

.my_information div .information h3 {
    margin-bottom: 10px;
    font-weight: 400;
    color: #f2f2f2;
}

.my_information div .information h4 {
    margin-bottom: 10px;
    font-weight: 400;
    color: #f2f2f2;
}

.my_information div .icons {
    margin-top: 50px;
    width: 100%;
}

.my_information div .icons ul {
    display: flex;
}

.my_information div .icons ul li {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 5px;
    text-align: center;
    transition: all .5s ease-in-out;
}

.my_information div .icons ul li:hover {
    box-shadow: 1px 5px 3px rgba(0, 0, 0, .5);
}

.my_information div .icons ul li a {
    line-height: 50px;
    font-size: 40px;
    color: #fff;
    transition: all .5s ease-in-out;
}

.my_information div .icons ul li a:hover {
    color: #ff0047;
}

/* Content Loader */
.content_loader {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* About me section */
.about_me {
    width: 100%;
    text-align: center;
}

.about_me h2 {
    margin-top: 20px;
    letter-spacing: 1.5px;
    font-weight: 500;
}

.about_me .content_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* My Skills */
.my_skills {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.my_skills h2 {
    font-weight: 500;
}

.my_skills .content_skills {
    display: flex;
    justify-content: center;
    align-items: center;
}