.loading_content {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #edf2f4;
}

.loading_content ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    display: flex;
}

.loading_content ul li {
    list-style: none;
    width: 45px;
    height: 45px;
    background: #8d99ae;
    margin: 0 5px;
    border-radius: 50%;
    animation: animate_loading 1.4s linear infinite;
}

@keyframes animate_loading {
    0% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

ul li:nth-child(1) {
    animation-delay: 0;
}
ul li:nth-child(2) {
    animation-delay: -1.2s;
}
ul li:nth-child(3) {
    animation-delay: -1s;
}
ul li:nth-child(4) {
    animation-delay: -.8s;
}
ul li:nth-child(5) {
    animation-delay: -.6s;
}

/* Spinner */
.spinner {
    width: 100px;
    height: 100px;
    position: relative;
}

.spinner div {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 8px solid transparent;
    border-top-color: crimson;
    border-radius: 50%;
    animation: spinner 1.5s linear infinite forwards;
}

.spinner div:nth-child(2) {
    border: 8px solid transparent;
    border-bottom-color: crimson;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}