.card {
    border-radius: 5px;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, .5);
    position: relative;
    width: 220px;
    height: 220px;
    margin: 15px;
    overflow: hidden;
}

.card .imgBx, .card .contentBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card .imgBx .img_card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .contentBx::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    transform: scaleX(0);
    transition: transform .5s ease;
    transform-origin: right;
}

.card:hover .contentBx::before {
    transform: scaleX(1);
    transition: transform .5s ease;
    transform-origin: left;
}

.card .contentBx {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .contentBx .content {
    position: relative;
    padding: 30px;
    z-index: 1;
    transition: .5s;
    transform: translateX(-300px);
    transition-delay: 0s;
}

.card .contentBx:hover .content {
    transform: translateX(0px);
    transition-delay: .3s;
}

.card .contentBx .content h3 {
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card .contentBx .content p {
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 300;
}