.wrapper {
    font-size: 40px;
    color: #888888;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    height: 50px;
    padding-left: 15px;
    overflow: hidden;
}

.slider div {
    color: #fff;
    height: 50px;
    margin-bottom: 50px;
    padding: 2px 15px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 3px;
}

.slider_text_1 {
    background-color: lightgreen;
    animation: slide 10s linear infinite;
}

.slider_text_2 {
    background-color: skyblue;
}

.slider_text_3 {
    background-color: lightcoral;
}

@keyframes slide {
    0% {
        margin-top: -300px;
    }
    5% {
        margin-top: -200px;
    }
    33% {
        margin-top: -200px;
    }
    38% {
        margin-top: -100px;
    }
    66% {
        margin-top: -100px;
    }
    71% {
        margin-top: 0px;
    }
    100% {
        margin-top: 0px;
    }
}