@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Lato', 'Helvetica', sans-serif;
}

/* Global styles */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}