.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 10px;
    background: linear-gradient(to left bottom, #F2E3C6 0%, #A7A1A5 100%);
}

.content {
    width: 80%;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.content h2 {
    margin: 15px 0;
    text-align: center;
    font-weight: 500;
}

.projects {
    width: 100%;
    display: block;
    margin-top: 10px;
}

.projects .project {
    width: 100%;
    height: 500px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.projects .project .project_main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects .project .project_main div {
    width: 100%;
    text-align: center;
}

.projects .project .project_main div h3 {
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 1.3em;
}

.projects .project .project_main div a {
    padding: 10px 20px;
    background: coral;
    color: #fff;
    border-radius: 4px;
}

.projects .project .project_desc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects .project .project_desc p {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}